html{
    font-family: 'Raleway', sans-serif;
    
}
body {
    margin:  auto ;
    text-align: center;
    background-color: silver;
}
main{
    height: 2670px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section {
  
    margin: 20px;
    
}